# Models & Embeddings (Loại bỏ toàn bộ thư mục)
[Ee]mbeddings/
[Mm]odels/

# Dữ liệu lớn hoặc cache của thư viện nlp
.cache/
data/

# Python environment
__pycache__/
.venv/
venv/
*.pyc

# OS files
.DS_Store
Thumbs.db