# ================================
# Embedding / ML Models
# ================================

# Embedding model (folder)
Models/embedding_model/
Models/bge_m3_model/

# Topic model (FILE, not folder)
Models/e5_bertopic_model*
Models/model_top2vec*
Models/bge_bertopic_model/
Models/labse_bertopic_model/

# Các file model phổ biến
Models/*.bin
Models/*.pt
Models/*.pth
Models/*.ckpt
Models/*.joblib
Models/*.pkl

# ================================
# NLP / BERTopic artifacts
# ================================
*.faiss
*.index

# ================================
# Python
# ================================
__pycache__/
*.pyc
.venv/
venv/
env/

# ================================
# OS
# ================================
.DS_Store
Thumbs.db
