# ================================
# Embedding / ML Models
# ================================

# Embedding model (folder)
Models/embedding_model/

# Topic model (FILE, not folder)
Models/job_topic_model*

# Các file model phổ biến
Models/*.bin
Models/*.pt
Models/*.pth
Models/*.ckpt
Models/*.joblib
Models/*.pkl

# ================================
# NLP / BERTopic artifacts
# ================================
*.faiss
*.index

# ================================
# Python
# ================================
__pycache__/
*.pyc
.venv/
venv/
env/

# ================================
# OS
# ================================
.DS_Store
Thumbs.db
